@import "icons.css";

body {
    padding-top: 70px;
}

.tree > li > label {
    padding: 0 10px;
}

.tree {
    padding: 0 10px;
}

.divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.required:after {
    content: " *";
}
