{% extends '@justCMSTemplate/Layouts/main.twig' %}

{% block content %}
    <!--center-->
    <div class="col-sm-9">
        {% block news %}
        {% for item in news %}
        <div class="row">
            <div class="col-xs-12">
                <h2>{{ item.title }}</h2>

                <p>{{ item.lessContent | raw }}</p>

                <p class="lead">
                    <a href="{{ path('just_cms_news_show', {'id': item.id}) }}" class="btn btn-default">Read More</a>
                </p>
                <p class="pull-right"><span class="label label-default">{{ item.category.title }}</span>
                </p>
                <ul class="list-inline">
                    <li>{{ item.user.username }}</li>
                    <li>{{ item.date|date('d.m.Y H:i') }}</li>
                    <li><a href="{{ path('just_cms_news_show', {'id': item.id}) }}#comments"><i
                                    class="glyphicon glyphicon-comment"></i> {{ item.comments|length }}
                            Comment(s)</a></li>
                </ul>
            </div>
        </div>
        <hr>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(news) }}
        </div>
        {% endblock news %}
    </div><!--/center-->

    <!--right-->
    <div class="col-sm-3">

        <div class="row">
            <h4>Категории</h4>

            <div class="well" style="padding: 8px;">
                {{ knp_menu_render('justCMSMenuBundle:Builder:categoryMenu',{'currentClass': 'active', 'template': '@justCMSTemplate/Layouts/Menu/newsCategory.twig'}) }}
            </div>
        </div>
        <hr/>

    </div><!--/right-->
    <hr>
{% endblock %}
