{% extends '@justCMSTemplate/NewsBundle/index.twig' %}
{% form_theme commentForm 'bootstrap_3_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/justcmstemplate/js/wysibb/jquery.wysibb.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/justcmstemplate/js/wysibb/theme/default/wbbtheme.css') }}"/>
{% endblock %}

{% block news %}
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ news.title }}</h2>

            <p>{{ news.fullContent | raw }}</p>

            <p class="pull-right"><span class="label label-default">{{ news.category.title }}</span>
            </p>
            <ul class="list-inline">
                <li>{{ news.user.username }}</li>
                <li>{{ news.date|date('d.m.Y H:i') }}</li>
            </ul>
        </div>
    </div>
    <hr/>
    {% if is_granted('ROLE_USER') %}
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            <div class="form-group">
                <input value="Комментировать" type="submit" id="justcms_newscomment_submit"
                       class="btn btn-success btn-block btn-large btn"/>
            </div>
            {{ form_end(commentForm) }}
        </div>
    </div>
    {% endif %}
    <a id="comments" name="comments"></a>
    <div class="row">
        {% for comment in comments %}
            <div class="panel">
                <div class="panel-body">
                    <div class="col-sm-2">
                        <img src="http://www.gravatar.com/avatar/{{ md5(comment.user.email|lower|trim) }}?d=http://placehold.it/100x100&s=100"
                             alt=""/>
                    </div>
                    <div class="col-sm-10">
                        <p>{{ comment.content|bbcode_filter('default_filter') }}</p>
                        <ul class="list-inline">
                            <li><b>{{ comment.user.username }}</b></li>
                            <li>
                                <small>{{ comment.date|date('d-m-Y H:i') }}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(comments) }}
        </div>
    </div>
{% endblock news %}