{% extends 'FOSMessageBundle::layout.html.twig' %}
{% set title = 'deleted'|trans({},'FOSMessageBundle') %}
{% block fos_message_content %}

    <h2>{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</h2>

    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
