{% extends 'FOSMessageBundle::layout.html.twig' %}
{% set title = 'inbox'|trans({},'FOSMessageBundle') %}
{% block fos_message_content %}

    <h4>{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</h4>

    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}