{% extends 'FOSMessageBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% set title = 'send_new'|trans({},'FOSMessageBundle') %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/justcmstemplate/js/wysibb/jquery.wysibb.min.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/select2/select2.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/justcmstemplate/js/wysibb/theme/default/wbbtheme.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/select2/select2-bootstrap.css') }}">
{% endblock %}

{% block fos_message_content %}

    <h4>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h4>

    <form action="{{ url('fos_message_thread_new') }}" method="post">
        {{ form_widget(form) }}

        <input value="Написать" type="submit" id="form_submit"
               class="btn btn-success btn-block btn-large btn">
    </form>

{% endblock %}
