{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

    <h4>{% trans from 'FOSMessageBundle' %}search{% endtrans %}</h4>

    <p>{% transchoice threads|length with {'%num%': threads|length } from 'FOSMessageBundle' %}
        threads_found
        {% endtranschoice %}</p>

    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
