{% extends 'FOSMessageBundle::layout.html.twig' %}
{% set title = 'sent'|trans({},'FOSMessageBundle') %}
{% block fos_message_content %}

    <h2>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</h2>

    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
