{% extends 'FOSMessageBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% set title = thread.subject %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/justcmstemplate/js/wysibb/jquery.wysibb.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/justcmstemplate/js/wysibb/theme/default/wbbtheme.css') }}"/>
{% endblock %}

{% block fos_message_content %}

    <h4>{{ thread.subject }}</h4>

    {% for message in thread.messages %}
        <div class="panel" id="message_{{ message.id }}">
            <div class="panel-body">
                <div class="col-sm-2">
                    <img src="http://www.gravatar.com/avatar/{{ md5(message.sender.email|lower|trim) }}?d=http://placehold.it/100x100&s=100"
                         alt=""/>
                </div>
                <div class="col-sm-10">
                    <p>{{ message.body|bbcode_filter('default_filter') }}</p>
                    <ul class="list-inline">
                        <li>{% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}
                            message_info{% endtrans %}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}

    <hr/>
    <h4>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h4>

    <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
        {{ form_widget(form) }}

        <input value="Ответить" type="submit" id="form_submit"
               class="btn btn-success btn-block btn-large btn">
    </form>

{% endblock %}
