{% extends '@justCMSTemplate/Layouts/main.twig' %}

{% block content %}
    <div class="col-md-3">
        <div class="row">
            <h4>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h4>
            <a class="btn btn-success btn-block"
               href="{{ url('fos_message_thread_new' ) }}">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>

            <div class="well" style="padding: 8px;">
                <ul class="nav nav-list">
                    <li><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}
                            ({{ fos_message_nb_unread() }})</a></li>
                    <li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}
                            sent{% endtrans %}</a></li>
                    <li><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}
                            deleted{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-xs-12">
                {% block fos_message_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

