{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
<div id="loginbox" style="margin-top:50px;" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="panel panel-info">

        <div style="padding-top:30px" class="panel-body">
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
                  class="fos_user_registration_register form-horizontal">
                {{ form_widget(form) }}
                <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}"/>
            </form>
        </div>
    </div>
</div>
