<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{ (settings.oneByName('title') is not null) ? settings.oneByName('title') : 'justCMS' }}
        - {{ (title is defined) ? title : 'Welcome!' }}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/justcmstemplate/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/justcmstemplate/css/bootstrap.paper-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/justcmstemplate/css/style.css') }}"/>
    {% endblock stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" rel="home"
                   href="{{ path('just_cms_news') }}">{{ (settings.oneByName('brand_name') is not null) ? settings.oneByName('brand_name') : 'justCMS' }}</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                {% if app.security.token is not null %}
                {{ knp_menu_render('justCMSMenuBundle:Builder:mainMenu',{'currentClass': 'active', 'template': '@justCMSTemplate/Layouts/Menu/main.twig'}) }}
                {{ knp_menu_render('justCMSMenuBundle:Builder:userMenu',{'currentClass': 'active', 'template': '@justCMSTemplate/Layouts/Menu/main.twig'}) }}
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div><!--/container-->
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('bundles/justcmstemplate/js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('bundles/justcmstemplate/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/justcmstemplate/js/app.js') }}"></script>
{% endblock javascripts %}
</body>
</html>