{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/justcmstemplate/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/justcmstemplate/css/bootstrap.paper-theme.min.css') }}"/>
    {#<link rel="stylesheet" href="{{ asset('bundles/justcmstemplate/css/style.css') }}"/>#}
    <link rel="stylesheet" href="{{ asset('bundles/justcmstemplate/js/wysibb/theme/default/wbbtheme.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/justcmstemplate/js/app.js') }}"></script>
    {{ parent() }}
    <script src="{{ asset('bundles/justcmsadmin/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/justcmstemplate/js/wysibb/jquery.wysibb.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
            CKEDITOR.config.forcePasteAsPlainText = false; // default so content won't be manipulated on load
            CKEDITOR.config.basicEntities = true;
            CKEDITOR.config.entities = true;
            CKEDITOR.config.entities_latin = false;
            CKEDITOR.config.entities_greek = false;
            CKEDITOR.config.entities_processNumerical = false;
            CKEDITOR.config.fillEmptyBlocks = function (element) {
                return true; // DON'T DO ANYTHING!!!!!
            };
            CKEDITOR.config.allowedContent = true; // don't filter my data
            CKEDITOR.disableAutoInline = true;

            $('.wysibb').wysibb();
            $(".wysibb").sync();
            $('select[id$=year]').select2({width: '100px'});
            $('select[id$=month]').select2({width: '100px'});
            $('select[id$=day]').select2({width: '100px'});
        });
    </script>
{% endblock javascripts %}

{% block sonata_top_nav_menu %}
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                {% include admin_pool.getTemplate('add_block') %}
            </li>
            <li class="dropdown user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <b>{{ app.user.username }}</b> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="{{ path('just_cms_news') }}"><i class="fa fa-home"></i> На сайт</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-caret-square-o-left"></i> Выйти</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block side_bar_after_nav %}
{% endblock %}