{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set title = 'Авторизация' %}

{% block fos_user_content %}
    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}

        <div id="loginbox" style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">

                <div style="padding-top:30px" class="panel-body">
                    {% if error %}
                        <div id="login-alert" class="alert alert-danger col-sm-12">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <form id="loginform" class="form-horizontal" role="form"
                          action="{{ path("fos_user_security_check") }}" method="post">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="username" type="text" class="form-control" name="_username"
                                   value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}"/>
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="_password"
                                   placeholder="{{ 'security.login.password'|trans }}"/>
                        </div>

                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="remember_me" type="checkbox" name="_remember_me"
                                           value="on"> {{ 'security.login.remember_me'|trans }}
                                </label>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="checkbox">
                                <span class="input-group-addon">Captcha:</span>
                                {{ form_widget(recaptcha) }}
                            </div>
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls">
                                <button type="submit" id="_submit" name="_submit"
                                        class="btn btn-success">{{ 'security.login.submit'|trans }}</button>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    Нет аккаунта?
                                    <a href="{{ path('fos_user_registration_register') }}"> Зарегистрироваться</a>
                                    <br/>
                                    Забыли пароль?
                                    <a href="{{ path('fos_user_resetting_request') }}"> Восстановить</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <script>window.location.href = {{ path('just_cms_news') }}</script>
    {% endif %}
{% endblock fos_user_content %}