{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>
        {{ 'Avatar'|trans }}:<br/>
        <img src="http://www.gravatar.com/avatar/{{ md5(user.email|lower|trim) }}?d=http://placehold.it/100x100&s=100"
             alt=""/>
        <span class="help-block">Provided by <a href="http://gravatar.com" target="_blank">Gravatar Service</a></span>
    </p>

    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>

    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

    <p><a href="{{ path('fos_user_profile_edit') }}">Редактировать профиль</a></p>

    <p><a href="{{ path('fos_user_change_password') }}">Сменить пароль</a></p>
</div>
