{% trans_default_domain 'FOSUserBundle' %}

<div style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div style="padding-top:30px" class="panel-body">
            {% if invalid_username is defined %}
                <div id="login-alert" class="alert alert-danger col-sm-12">
                    {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
                </div>
            {% endif %}
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST"
                  class="fos_user_resetting_request form-horizontal">
                <div>
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="username" type="text" class="form-control" name="username"
                               placeholder="{{ 'resetting.request.username'|trans }}"/>
                    </div>
                </div>
                <div>
                    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
</div>