{% if admin.isGranted('LIST', object) %}
    <a href="{{ path('admin_justcms_database_newscomment_list',{ 'filter[news][value]': object.Id }) }}"
       class="btn btn-sm btn-default edit_link" title="{{ 'action_list_comments'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-envelope"></i>
        {{ 'action_list_comments'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
