{% extends '@justCMSTemplate/Layouts/main.twig' %}
{% form_theme feedback_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <center><h3>Обратная связь</h3></center>
    <hr/>
    {% if app.request.method == 'POST' %}
        <center><h4>Сообщение отправлено!</h4>

            <p><a href="/">Перейти на главную страничу</a></p>
        </center>
    {% else %}
        {{ form_start(feedback_form) }}
        {{ form_errors(feedback_form) }}
        {{ form_widget(feedback_form) }}
        {{ form_end(feedback_form) }}
    {% endif %}

{% endblock content %}